/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
html{
    font-family: 'Fredoka', sans-serif;
    font-size: 62.5%;
}
body{
    background-color: #fffffe;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
img{width: 100%;}
/* Margin */
.mt{
    margin-top: 2em;
}
/* __________ */

h1{
    font-size: 3.2rem;
}
p{
    font-size: 1.8rem;
}
a{display: block;}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Meet */
.box-meet{
    text-align: center;
    padding-top: 2em;
}
.box-meet h1{
    color: #e53170;
    
}

/* Cards */
.box-cards{
    width: calc(100% / 3 - 4.0em);
    float: left;
    background-color: black;
    margin: 5.0em 2.0em;
    box-shadow: 1px 2px 4px black;
}
.img-card{
    float: left;
    height: 137.391px;
}
.img-card img{height: 100%;}
.title-card{
    float: left;
    width: 50%;
    margin: 3.0em 1.0em 0em;
}

.title-card h2{
    font-size: 2.2rem; 
    color: white;
    text-transform: uppercase;
}
.title-card h4{
    color: rgb(228, 228, 228); 
    font-size: 1.6rem; 
    font-weight: 400;
    margin-top: 0.4em;
}
.title-card p{
    color: #0090e7; 
    margin-top: 0.4em; 
    font-size: 1.5em;
}

